<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workflow</h2>
                    <h3 class="section-subheading text-muted">Below is a step-by-step guide to breast cancer analysis in Dynamika.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/breast.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1</h4>
                                    <h4 class="subheading">Upload images</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Upload your DICOM images directly through your browser or via our PACS integration. Dynamika comes with built-in regulatory compliant patient de-identification so you (and your IT staff) never have to worry about sensitive patient data leaving your browser.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/breast.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2</h4>
                                    <h4 class="subheading">Motion correction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The patient will inevitably move a bit when acquiring multiple images for the dynamic sequence. This can obscure subsequent quantifications. Dynamika comes with built-in state-of-the-art motion correction algorithms that automatically corrects for patient movement.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/breast.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3</h4>
                                    <h4 class="subheading">Draw Regions of Interests (ROIs).</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You can draw regions of interest around the tumor using automatically generated maps from contrast-uptake curves. This information will help you discrimante healthy tissue from pathological tissue, and dynamika will automaticlyl generate statistics from your ROIs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/breast.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4 </h4>
                                    <h4 class="subheading">Generate reports</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Statistics, ROIs and images can be exported to PDF, Microsoft Word and Microsoft Excel format for subsequent statistical analysis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Objective
                                    <br>Diagnostic
                                    <br>Decisions</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>