<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <h3 class="section-subheading text-muted">Standardised MRI data analysis and cost-effective image-based study design in rheumatology, neorology and oncology.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dynamika</h4>
                    <p class="text-muted">We develop Dynamika, the leading cloud-based software for scoring of static and contrast-enhanced MRI. Dynamika provides a standardized workflow for reproducible, quantitative image analysis of MRI.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Image Acquisition</h4>
                    <p class="text-muted">We support hospitals and clinical trials around the world define MRI sequences best suited to their needs. Our clients get the most out of their data when we get involved in MRI sequence design.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contract Research</h4>
                    <p class="text-muted">We deliver accurate image analytics andfull support of early phase trials. Our clients obtain earlier, more convincing evidence of treatment effect for through quantitative MRI analysis and built-in regulatory compliant data quality control. </p>
                </div>
            </div>
        </div>
    </section>